body{
    background-color: rgb(255, 255, 255);
}


img {
    border-radius: 50%;    

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}
a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.fancy-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(39, 223, 232);
    color: #000000;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .fancy-button:hover {
    background-color: #1d7ec4;
  }
  